---
layout: default
---

<div class="site-content" xmlns="http://www.w3.org/1999/html">
  <header class="site-header collapsed-nav" data-bg-image="">
    <div class="container">
      <div class="header-bar">
        <a href="index.html" class="branding">
          <img src="images/logo.png" alt="Amirkabir University of Technology IoT Laboratory" class="logo">
          <div class="logo-type">
            <h1 class="site-title">IOT Research Center</h1>
            <h6  class="site-description">Amirkabir University of Technology</h6>
            <h6  class="site-description">Computer & Information Technology Engineering Department</h6>
          </div>
        </a>

        <nav class="main-navigation">
          <button class="menu-toggle"><i class="fa fa-bars"></i></button>
          <ul class="menu">
            {% for page in site.pages %}
              {% if page.title %}
                <li class="menu-item">
                  <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>

        <div class="mobile-navigation"></div>
      </div>
    </div>
  </header>

  {% assign image_files = site.static_files | where: "image", true %}
  <div class="hero">
    <ul class="slides">
      {% for image in image_files %}
        {% if image.basename contains "slider" %}
          <li data-bg-image="{{image.path | relative_path}}">
            <div class="container">
              <div class="slide-content">
                <h2 class="slide-title">Amirkabir University of Technology <br/> IOT Research Center</h2>
                <a href="about.html" class="button">About us</a>
              </div>
            </div>
          </li>
        {% endif%}
      {% endfor %}
    </ul>
  </div>
`
  <main class="main-content">
    <div class="fullwidth-block">
      <div class="container">
        <h2 class="section-title">Research Groups</h2>
        <div class="row">
          {% for group in site.data.groups %}
          <div class="col-md-3 col-sm-6">
            <div class="feature">
              <img src="images/{{group.icon}}" alt="-" class="feature-image">
              <h2 class="feature-title">{{group.name}}</h2>
              <p>{{group.desc}}</p>
              <a href="{{group.link}}" class="button">Learn more</a>
            </div>
          </div>
          {% endfor %}
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block" data-bg-color="#edf2f4">
      <div class="container">
        <h2 class="section-title">Latest News</h2>
        <div class="row">
          {% for new in site.data.news %}
          <div class="col-md-4">
            <div class="post">
              <figure class="featured-image"><img src="images/{{new.image}}" alt="-"></figure>
              <h2 class="entry-title"><a href="{{new.linl}}">{{new.title}}</a></h2>
              <small class="date">{{new.date}}</small>
              <p>{{new.desc}}</p>
            </div>
          </div>
          {% endfor %}
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="section-title">Our mission and vision</h2>
            <p>Consequuntur minima, delectus quia labore sapiente maiores illo enim numquam sint? Molestias odio itaque, recusandae ut quae fuga ea tempore facere facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi cupiditate repellat velit quo, fugiat dolores eum corrupti commodi? Deserunt, adipisci sunt voluptas aliquid aliquam eos. Perspiciatis, similique atque deserunt nam.</p>
            <p>Distinctio delectus consequuntur sed quod ipsum a, odio obcaecati neque, aliquam nostrum aliquid reprehenderit ad quae qui autem voluptate omnis quas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime magnam amet obcaecati dolore omnis consectetur dignissimos iste cupiditate excepturi quae porro fugiat, nemo iure, minima. Fuga hic voluptate ratione, at.ullam.</p>
          </div>
          <div class="col-md-4">
            <h2 class="section-title">Research summaries</h2>
            <ul class="arrow-list has-border">
              <!--<li><a href="#">Praesentium voluptatum deleniti atque dolores</a></li>-->
              <!--<li><a href="#">Corrupti quos et quas molestias excepturi sint</a></li>-->
              <!--<li><a href="#">Occaecati cupiditate non provident similique sunt</a></li>-->
              <!--<li><a href="#">Nam libero tempore, cum soluta nobis est eligendi</a></li>-->
            </ul>
            <!--<a href="#" class="button">Show more</a>-->
          </div>
        </div>
      </div>
    </div>

    <div class="fullwidth-block cta" data-bg-image="images/cta-bg.jpg">
      <div class="container">
        <h2 class="cta-title">Neque porro quisquam</h2>
        <p>Modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil moles</p>
        <!--<a href="#" class="button">See details</a>-->
      </div>
    </div>

    <div class="fullwidth-block" data-bg-color="#edf2f4">
      <div class="container">
        <div class="subscribe-form">
          <h2>Join our newsletter</h2>
          <form action="#">
            <input type="text" placeholder="Enter your email">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>

  </main> <!-- .main-content -->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="widget">
            <h3 class="widget-title">Our address</h3>
            <strong>Company name INC</strong>
            <address>592 Avenue Street, Los Angeles, CA 90012</address>
            <a href="tel:+1 800 931 812">+1 800 931 812</a> <br>
            <a href="mailto:office@companyname.com">office@companyname.com</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <h3 class="widget-title">Press room</h3>
            <ul class="arrow-list">
              <!--<li><a href="#">Accusantium doloremque</a></li>-->
              <!--<li><a href="#">Laudantium totam aperiam</a></li>-->
              <!--<li><a href="#">Eaque ipsa quae illo inventore</a></li>-->
              <!--<li><a href="#">Veritatis et quasi architecto</a></li>-->
              <!--<li><a href="#">Vitae dicta sunt explicabo</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <h3 class="widget-title">Research summary</h3>
            <ul class="arrow-list">
              <!--<li><a href="#">Accusantium doloremque</a></li>-->
              <!--<li><a href="#">Laudantium totam aperiam</a></li>-->
              <!--<li><a href="#">Eaque ipsa quae illo inventore</a></li>-->
              <!--<li><a href="#">Veritatis et quasi architecto</a></li>-->
              <!--<li><a href="#">Vitae dicta sunt explicabo</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <h3 class="widget-title">Social media</h3>
            <p>Deserunt mollitia animi id est laborum dolorum fuga harum quidem rerum facilis.</p>
            <div class="social-links">
              <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
              <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
              <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
              <!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
            </div>
          </div>
        </div>
      </div> <!-- .row -->

      <p class="colophon">copyright 2014 Company name. Designed by <a href="http://www.vandelaydesign.com/" title="Designed by VandelayDesign.com" target="_blank">VandelayDesign.com</a>. All rights reserved</p>
    </div> <!-- .container -->
  </footer>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/app.js"></script>
