<footer class="site-footer" data-bg-color="#edf2f4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget-title">Our address</h3>
          <strong></strong>
          <address>424 Hafez Ave, Tehran, Iran, 15875-4413.</address>
          <a href="tel:+982164542723"></a>+98 21 6454 2723<br>
          <a href="mailto:bbakshi@aut.ac.ir">bbakhshi@aut.ac.ir</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget-titlGe">Press room</h3>
          <ul class="arrow-list">
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget-title">Research summary</h3>
          <ul class="arrow-list">
            <li>IoT Platforms &amp; Middlewares</li>
            <li>Platforms Load Testing</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget-title">Social media</h3>
          <p>Follow us on social media</p>
          <div class="social-links">
            <a href="https://github.com/aiotrc"><i class="fa fa-github"></i></a>
            <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
            <!--<a href="#"><i class="fa fa-google-plus"></i></a>-->
            <!--<a href="#"><i class="fa fa-pinterest"></i></a>-->
          </div>
        </div>
      </div>
    </div> <!-- .row -->

    <p class="colophon">copyright 2019 IoT Research Center.</p>
  </div> <!-- .container -->
</footer>
